name: CI
on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [25]
    steps:
      - uses: actions/checkout@v4.0.0
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4.0.0
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: maven
      - name: Build with Maven
        run: mvn -B -V -DskipTests clean package
      - name: Archive build artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: payment-app
          path: target/*.jar
      - name: Run tests and publish results
        run: mvn test