name: Build and Publish Docker Image
on:
  push:
    branches:
      - main
      - 'release/**'
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4.0.0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: payment-app
          path: target
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/payment-app:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/payment-app:latest
          
            
